/*header开始*/
#header{
    background: url(../photo/banner33.jpg) no-repeat center;
    height: 250px;
}
#login a:hover{
    text-decoration: underline;
}
#login a{
    color:white;
    display:block;
    margin-top:20px;
    text-decoration: none;
}
#login,#header h1{
    color: #fff;
    width:300px;
    margin-left:82px;
}
#cart{
    width: 260px;
    height: 30px;
    background: #000;
    opacity: .5;/* 取值范围0~1 */
    filter: alpha(opacity=50);/* ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    /*文字居中*/
    padding: 10px 20px;
    /*鼠标变成小手*/
    cursor: pointer;
    margin-top:25px;
    line-height:0;
    position:relative;
    margin-left:10px;
}#cart img{
     vertical-align: middle;
     /*图片和文字一齐*/
 }
#header .float{
    float:left;
}
#login {
    margin-right:38px;
    margin-top:25px;
}
#name{
    margin-right:28px;
    margin-top:25px;
}
#header p {
    color: #ffffff;
    float:right;
    position:relative;
    margin-right:100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#line{
    float:left;
}
#nav>li{
    color:#fff;
    height:40px;
    width:190px;
    background:hotpink;
    float:left;
    line-height:40px;
    text-align:center;
}
#main-header p{
    height:30px;
    color:#fff;
    float:left;
    position:relative;
    margin-left:920px;
}
#nav .add-white:hover{
    background: #000;
}
#nav a{
    color:#ffffff;
    width:100%;
    height:100%;
}
#white{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    display:none;
    position:relative;
    margin-left: -190px;
    z-index: 1;
}
#line #store:hover #white{
    display:block;
}
#white li{
    color:#000;
    width:50px;
}
#white li:hover{
    text-decoration: underline;
}
#white ul{
    float:left;
    margin-left:170px;
}
#white .top{
    font-weight:700;
    margin-bottom:5px;
}
/*header结束*/

/*but-login开始*/
#middle-info{
    height: 430px;
}
#but-login h2{
    margin-top: 30px;
}
#but-login{
    height: 430px;
}
#user-pass{
    width: 450px;
    height: 290px;
    float: left;
}
#user-pass input{
    display: block;
    width: 404px;
    height: 40px;
    outline:none;
    text-indent:10px;
    font-size: 20px;
}
#user-pass from{
    color:#000000;
    font-size: 20px;
    display:block;
    margin-top: 20px;
}
#user-pass button{
    width: 114px;
    height: 41px;
    background: orange;
    color: #ffffff;
    font-size: 20px;
    border-radius:10px;
    border:1px solid orange;
    margin-top:20px;
}
#user-pass button:hover{
    border:1px solid black;
    color: #000000;
    background: #ffffff;
    cursor:pointer;
}
#user-pass p{
    text-decoration:underline;
    cursor: pointer;
    color:#999999;
    margin-top: 20px;
}
/*but-login结束*/

/*no-number开始*/
#no-number{
    width: 540px;
    height: 140px;
    float: right;
}
#no-number h3{
    color:orange;
}
#no-number p{
    color:#999999;
    margin:20px 0;
}
#no-number a{
    border:1px solid black;
    color: #000000;
    background: #ffffff;
    width: 114px;
    height: 41px;
    display:block;
    font-size: 20px;
    text-decoration: none;
    border-radius:10px;
    text-align: center;
    line-height: 41px;
}

#no-number a:hover{
    background: orange;
    color: #ffffff;
    border:1px solid orange;
}






/*footer开始*/
#footer{
    background: hotpink;
    height:82px;
    color:#ffffff;
}
#footer h3{
    position:absolute;
    margin-top:30px;
}
#footer h4{
    position:absolute;
    margin-top:30px;
    margin-left: 940px;
}
/*footer结束*/


