* {
    margin: 0;
    padding: 0;
}

#header {
    width: 1520px;
    height: 720px;
    background: url(../img/banner.jpg) no-repeat -100px 0px;
    overflow: hidden;
}

.wrapper {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

#shop {
    margin-top: 30px;
    height: 100px;
}

#login a {
    color: #fff;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
}

h1 {
    color: #fff;
    float: left;
    position: relative;
    left: 400px;
}

#cart {
    color: #fff;
    float: left;
    position: relative;
    left: 650px;
    width: 262px;
    height: 42px;
    background: #000;
    text-align: center;
    line-height: 42px;
    opacity: 0.5;
}

#cart img {
    position: relative;
    top: 5px;
}

#cart p {
    margin-top: -10px;
}
#nav li {
    list-style: none;
    color:#fff;
    float:left;
    font-size:18px;
    display: block;
    width: 190px;
    height:38px;
    background: #fa558f;
    text-align: center;
    line-height:38px;
}