/* header开始 */

#header {
    width: 1520px;
    height: 720px;
    background: url(../img/banner.jpg) no-repeat -300px 0;
    overflow: hidden; 
    background-size:cover;
}

.wrapper {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

#shop {
    margin-top: 30px;
    height: 80px;
}

#login a {
    color: #fff;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
}

h1 {
    color: #fff;
    float: left;
    position: relative;
    left: 400px;
}

#cart {
    color: #fff;
    float: left;
    position: relative;
    left: 650px;
    width: 262px;
    height: 42px;
    background: #000;
    text-align: center;
    line-height: 42px;
    opacity: 0.5;
}

#cart img {
    position: relative;
    top: 5px;
}

#cart p {
    margin-top: -10px;
}

#nav>li{
    list-style: none;
    color: #fff;
    float: left;
    font-size: 15px;
    display: block;
    width: 190px;
    height: 38px;
    background: #fa558f;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

#nav>li a:hover {
    background: #3c3b3b;
}

#nav .firstLi {
    background: #3c3b3b;
}
#nav li a{
    color:#fff;
    display:block;
    width: 100%;
    height: 100%;
}
#makeup-con {
    width: 1140px;
    height: 300px;
    background: #fff;
    float:left;
    margin-left: -190px;
    display: none;
}

.secondLi:hover #makeup-con {
    display: block;
}

#makeup-con ul {
    float: left;
    margin-left: 100px;
}

#makeup-con li:first-child {
    margin: 10px 0;
    color: #000;
}

#makeup-con li:first-child:hover {
    color: #000;
    text-decoration: none;
}

#makeup-con li {
    color: #aaa;
}

#makeup-con li:hover {
    color: #ed864a;
    text-decoration: underline;
}
/* header结束*/


/* special-sale开始 */
#special-sale{
    height: 210px;
    margin-top:60px;
}
#special{
    width: 364px;
    height: 210px;
    background: url(../img/bg1.jpg) no-repeat;
    float: left;  
    margin-right:24px;
}
#new-goods{
    width: 364px;
    height: 210px;
    background: url(../img/bg2.jpg) no-repeat;
    float: left; 
    margin-right:24px; 
}
#import{
    width: 364px;
    height: 210px;
    background: url(../img/bg3.jpg) no-repeat;  
    float: left;
}
#special-sale h3{
    color:#fff;
    font-size: 30px;
    position: relative;
    top:120px;
    left:200px;
}
/* special-sale结束 */

/* product开始 */
#product{
    margin-top:80px;
    height: 1000px;
}
.product-con{
    width: 342px;
    height: 442px;
    border:1px solid #ccc;
    float:left;
    margin-right:30px;
    margin-top:20px;
}
.product-con img{
    width: 248px;
    height: 248px;
    border:1px solid #ccc;
    display: inline-block;
    vertical-align: top;
}
#product-info{
    height: 194px;
    width: 322px;
    background: #ddd;
    padding-left:20px;
}
#product-info h3{
   padding:10px 0;
}
#product-info input{
    width: 150px;
    height: 28px;
}
#product-info button{
    width: 138px;
    height: 44px;
    border-radius:10px;
    border:0;
    background:#ed864a; 
    margin:15px 0;
    cursor: pointer;
}
.product-con span{
    width: 52px;
    height: 30px;
    background-color: #fa558f;
    float:right;
    text-align: center;
    line-height: 30px;
}
/* product结束 */


/* problem开始 */
#problem{
    width: 1519px;
    height: 400px;
    background: url(../img/banner2.jpg) no-repeat 0px 0px;
    background-size:cover;
}
#problem ul{
    float:left;
    margin-right:100px;
    margin-top:50px;
}
#problem li{
    color:#fff;
    list-style:circle;
    margin:10px 0;
}
#pro-info{
    margin-left:120px;
}
/* problem结束*/



/* footer开始 */
#footer{
    width: 1519px;
    height: 32px;
    background: #fa558f;
    color:#fff;
    padding:30px 0;
}
#footer h2{
    display:inline-block;
}
#footer span{
    float:right;
}

/* footer结束 */