
/* #sale-bra开始*/

#brand{
    margin-top:50px;
    height: 320px;
}
#brand-cont a img{
    margin-right:20px;
    margin-top:20px;
}
/* #sale-bra结束*/

/* product开始 */
#goods{
    height: 1050px;
    margin-top: 40px;
}
.product-con{
    width: 342px;
    height: 442px;
    border:1px solid #ccc;
    float:left;
    margin-right:30px;
    margin-top:40px;
}
.product-con img{
    width: 248px;
    height: 248px;
    border:1px solid #ccc;
    display: inline-block;
    vertical-align: top;
}
#product-info{
    height: 194px;
    width: 322px;
    background: #ddd;
    padding-left:20px;
}
#product-info h3{
   padding:10px 0;
}
#product-info input{
    width: 150px;
    height: 28px;
}
#product-info button{
    width: 138px;
    height: 44px;
    border-radius:10px;
    border:0;
    background:#ed864a; 
    margin:15px 0;
    cursor: pointer;
}
.product-con span{
    width: 52px;
    height: 30px;
    background-color: #fa558f;
    float:right;
    text-align: center;
    line-height: 30px;
}
/* product结束 */
