#new-info{
    width: 1140px;
    height: 614px;
    margin-top:50px;
    position: relative;
}
#picture{
    width: 494px;
    height: 557px;
    float:left;
    overflow: hidden;
    position: relative;
}
#magnify img{
    position: absolute;
    top:0;
    left:0;
}
#magnify{
    width: 480px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    left: 500px;
    top: 0px;
    display: none; 
}
#drag{
    width: 200px;
    height: 200px;
    background: #cccccc;
    opacity:.5;
    filter:alpha(opacity(50));
    position: absolute;
    top:0;
    left:0;
    display:none;
}
#pic-info{
    width: 570px;
    height: 616px;
    float:left;
    margin-left:50px;
}
#big-pic{
    position: relative;
}
#big-pic img{
    width: 480px;
    height: 400px;
    padding:6px;
    border:1px solid #ccc;
}
#small-pic{
    width: 1000px;
    position: relative;
    left:0;
    top:0;
}
#small-pic .selected{
    border:1px solid #000;
}
#small-pic img{
    width: 150px;
    height: 125px;
    padding:3px;
    border:1px solid #ccc;
    margin-right:5px;
    cursor: pointer;
}
.lip{
    color:#ccc;
    font-size:14px;
}
.lip-num{
    color:#fa558f;
    font-size:25px;
    margin:20px 0;
}
#picture .arrow{
    position: absolute;
    top:200px;
    background: #000;
    color:#fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height:30px;
    cursor: pointer;
}
#left{
    left:10px;
}
#right{
    right:10px;
}