<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
        }
        h1{
            text-align: center;
        }
        #app{
            width: 400px;
            height: 400px;
            margin: 100px auto;
        }
        ul li{
            height: 50px;
            margin-bottom:10px;
            background: #ccc;
            line-height: 50px;
        }
    </style>
</head>

<body>
    <div id="app">
         <h1>{{msg}}</h1>
         <hr>
        <ul>
            <li v-for="user in product" @click="add(user.price,$event)">
                {{user.name}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{user.price}}
            </li>
        </ul>
        <div>总价：{{count}}</div>
        <div v-if="sum%2==0"></div>
        <div v-else="sum%2==1"></div>
        <div>{{sum}}</div>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg:'todolist',
                count:0,
                product: [{
                        name: 'product1',
                        price: 123
                    },
                    {
                        name: 'product2',
                        price: 245
                    },
                    {
                        name: 'product3',
                        price: 33
                    },
                    {
                        name: 'product4',
                        price: 45
                    },
                    {
                        name: 'product5',
                        price: 132
                    },
                    {
                        name: 'product6',
                        price: 65
                    },
                ],
               sum:0
            },
            methods:{
                add(num,e){
                    this.count += num; 
                    sum++;
                    console.log(sum);
                }
            }
        })
    </script>
</body>

</html>