<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
        }
        h1{
            text-align: center;
        }
        #app{
            width: 400px;
            height: 400px;
            margin: 100px auto;
        }
        ul li{
            height: 50px;
            margin-top:10px;
            background: #ccc;
            line-height: 50px;
            padding: 0 10px;
            cursor:pointer;
        }
        .proPrice{
            float:right;
        }
        .red{
            background:#f00;
        }
    </style>
</head>

<body>
    <div id="app">
         <h1>{{msg}}</h1>
         <hr>
         <label>name：<input type="text" v-model="name" placeholder="请输入产品名称"></label>
         <br>
         <label>price：<input type="text" v-model="price"></label> 
         <button @click="make">添加</button>  
         <br>
         <label>search:<input type="text" playholder="请输入搜索关键字" v-model="keyword"></label>
         <button @click="search">搜索</button>
         <button @click="restore">还原</button>
        <ul>
            <li v-for="(user,index) in product" @click="add(user)" :class="{red:user.isRed}">
                <input type="checkbox" @click.stop="" v-model="checked" :value="index">
                <span class="del" @click="del(index)">[X]</span>
                <span class="proName">{{user.name}}</span>    
                <span class="proPrice">{{user.price}}</span>
            </li>
        </ul>
        <!-- <div>总价：{{count}}</div> -->
        <div>
            <button @click="delAll">删除选中</button>
            总价：{{sum()}}
        </div> <!--调用方法传值-->
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg:'todolist',
                count:0,
                name:"",
                price:0,
                checked:[],
                keyword:'',
                // isRed:false,
                product: [{
                        name: '苹果',
                        price: 123,
                        isRed:false
                    },
                    {
                        name: '桃子',
                        price: 245,
                        isRed:false
                    },
                    {
                        name: '西瓜',
                        price: 33,
                        isRed:false
                    },
                    {
                        name: '香蕉',
                        price: 45,
                        isRed:false
                    },
                    {
                        name: '橘子',
                        price: 132,
                        isRed:false
                    },
                    {
                        name: '柿子',
                        price: 65,
                        isRed:false
                    },
                ],
                product1: [{
                        name: '苹果',
                        price: 123,
                        isRed:false
                    },
                    {
                        name: '桃子',
                        price: 245,
                        isRed:false
                    },
                    {
                        name: '西瓜',
                        price: 33,
                        isRed:false
                    },
                    {
                        name: '香蕉',
                        price: 45,
                        isRed:false
                    },
                    {
                        name: '橘子',
                        price: 132,
                        isRed:false
                    },
                    {
                        name: '柿子',
                        price: 65,
                        isRed:false
                    },
                ],
            },
            methods:{
                add(num){
                    num.isRed=!num.isRed;
                    // if(num.isRed){
                    //     this.count += num.price; 
                    // }else{
                    //     this.count -= num.price; 
                    // }
                    // console.log(num.name);
                    //this.sum(); //在一个函数里调用外面的函数用this
                },
                sum(){
                    let sum=0;
                    this.product.forEach(function(val,idx) {
                        if(val.isRed){
                            sum+=val.price;
                        }
                    });
                    // this.count=sum;
                    // return this.count=sum; 上面调用方法传值，所以下面要用return
                    return sum;
                },
                make(){
                    this.product.push({
                        name:this.name,
                        price:this.price,
                        isRed:false
                    });
                    this.product1.push({
                        name:this.name,
                        price:this.price,
                        isRed:false
                    });
                    this.name='';
                    this.price=0; 
                },
                del(index){
                    this.product.splice(index,1);
                },
                delAll(){
                        let arr=this.product.filter((val,idx)=>{
                            if(!this.checked.includes(idx)){
                                return val;
                            }
                        });
                        this.product=arr; 
                        this.checked=[];
                },
                search(){
                    let arr=this.product.filter((val,key)=>{
                        if(val.name.includes(this.keyword)){
                            return val;
                        }
                    });
                    this.product=arr;
                },
                restore(){
                    this.product=this.product1;
                }
            }
        })
    </script>
</body>

</html>